@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box !important;
}

body {
	overflow-x: hidden !important;
}

a {
	text-decoration: none;
}

/* Material Icons Style */
.mi-24 {
	font-size: 24px;
}

.mi-36 {
	font-size: 36px;
}

.mi-198 {
	font-size: 182px;
}

.mi-light,
.iw {
	color: #eeeef5;
}

.mi-dark {
	color: #404040;
}

.projects,
.projectsPg,
.bannerProj,
.web-components,
.contact {
	background-color: #eeeef5;
}

/*Navbar Style*/
.navbar {
	margin: 0 auto;
	background-color: #3e3e43;
	box-shadow: 0 0 15px #d1d1d1;
}

.nav-link,
.navbar-brand {
	border-radius: 5px;
	color: #eeeef5 !important;
	cursor: pointer;
}

.navbar-brand {
	font-family: Work Sans;
	font-size: 20px;
	font-weight: 600;
	margin-left: 8px;
	float: left;
	display: flex;
}

.navbar-brand .brand-name {
	margin-top: 2px;
}

.navbar-nav {
	margin: 0 auto;
}

.nav-link {
	font-family: Work Sans;
	font-size: 16px;
	padding: 10px 3px 10px 3px;
	margin-right: 15px;
}

.nav-link:hover,
.active {
	background-color: #eeeef5;
	color: #37373c !important;
}

.face-icon {
	cursor: pointer;
	border: 0;
	background-color: transparent;
}

/* Profile Card */
.profile-card {
	position: fixed;
	display: flex;
	flex-direction: column;
	background-color: whitesmoke;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items: center;
	max-width: 400px;
	width: 90%;
	border-radius: 25px;
	padding: 0 30px 30px 30px;
	border: 1px solid #ffffff40;
	z-index: 10;
	/*margin-top: 75px;*/
}

.close-profile {
	font-size: 2.5rem;
	color: #7c7c7c;
	cursor: pointer;
	border: none;
	background: none;
}

.image {
	position: relative;
	height: 100px;
	width: 100px;
}

.image .profile-pic {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.data {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15px;
}

.data h4 {
	font-weight: 600;
}

.row {
	display: flex;
	align-items: center;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(5px);
	z-index: 5;
}

/* Banner */
.banner,
.bannerProj {
	margin: 50px 0 0 0;
}

.banner {
	background-image: linear-gradient(to top left, #aaa8ba 0%, #c0ded6 100%);
	font-family: Work Sans;
}

.headImg Img,
.projImg Img {
	height: auto;
	width: 100%;
	max-width: 450px;
}

/* Banner Header */
.bannerImg {
	height: auto;
	width: 50%;
	opacity: 15%;
	margin: 0 auto;
}

/* Projects Section */
.projectsPg {
	padding: 0 0 45px 0;
}

.projectCard,
.projectCard--col {
	margin: 0 34px 0 0;
}

.projectCard--col {
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.projectCardImg {
	width: 80%;
}

.see-more,
.get-in-touch {
	background-color: #5a5aff;
	color: #fafafa;
	border-radius: 35px;
	font-family: Work Sans;
}

.see-more:hover,
.get-in-touch:hover {
	background-color: #4a4ad2;
	color: #fafafa;
}

/* Contact Style */
.contact {
	padding: 50px 0;
}

.whatsApp {
	padding: 2px;
}

/* Footer */
footer {
	background-color: #2e2e31;
	color: #eeeef5;
}

.def {
	color: #eeeef5;
	font-family: Work Sans;
}

.def a,
.hov:hover {
	color: #4c4cff;
}

.hidden {
	display: none;
}

/* Style - navbarToggler Appearance */
@media screen and (max-width: 991px) {
	.navbar-nav {
		margin-top: 10px;
	}

	.nav-item {
		margin-bottom: 5px;
	}

	.nav-link {
		padding-left: 10px;
	}
}

/* Mobile Phones */
@media screen and (max-width: 576px) {
	.banner {
		height: 70vh;
	}

	.headImg Img {
		margin-top: 45px;
	}

	.headText {
		margin: 30px 0 0 0;
	}

	.bannerProj {
		height: 45vh;
	}

	.bannerImg {
		padding-top: 50px;
	}

	.projectCard,
	.projectCard--col {
		display: block;
		width: 84%;
		margin: 0 0 34px 0;
	}

	.whatsApp {
		width: 80%;
	}
}

/* Tablets */
@media screen and (min-width: 577px) and (max-width: 767px) {
	.banner {
		height: 72vh;
	}

	.headImg Img {
		margin-top: 50px;
	}

	.headText {
		margin: 30px 0 0 0;
	}

	.bannerProj {
		height: 45vh;
	}

	.bannerImg {
		padding-top: 60px;
	}

	.projectCard,
	.projectCard--col {
		display: block;
		width: 75%;
		margin: 0 0 34px 0;
	}

	.whatsApp {
		width: 80%;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.banner {
		height: 68vh;
	}

	.headImg Img {
		margin-top: 50px;
	}

	.headText {
		margin: 30px 0 0 0;
	}

	.bannerProj {
		height: 45vh;
	}

	.bannerImg {
		padding-top: 60px;
	}

	.bannerHead {
		margin: -135px 0 0 0;
	}

	.bannerText {
		margin: -65px 0 0 0;
	}

	.projectCard,
	.projectCard--col {
		display: block;
		width: 75%;
		margin: 0 0 34px 0;
	}

	.whatsApp {
		width: 40%;
	}
}

/* Laptops, Desktops */
@media screen and (min-width: 992px) {
	.banner {
		height: 60vh;
	}

	.headImg Img {
		margin: 85px 0 0 10px;
	}

	.headText {
		margin: 120px 0 0 0px;
	}

	.bannerProj {
		height: 55vh;
	}

	.bannerImg {
		padding-top: 40px;
	}

	.bannerHead {
		margin: -135px 0 0 0;
	}

	.bannerText {
		margin: -65px 0 0 0;
	}

	.projImg {
		margin: -70px 0 0 0;
		overflow: hidden;
		opacity: 5%;
		padding-bottom: 10px;
	}

	.projectCard,
	.projectCard--col {
		width: 30%;
		margin: 0 34px 0 0;
	}

	.proj {
		width: 40%;
	}

	.whatsApp {
		width: 35%;
	}
}
