@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&family=Ubuntu:wght@300;400;500;600&family=Work+Sans:wght@400;500;600&display=swap");
@import "cards.css";

*,
*::before,
*::after {
	box-sizing: border-box !important;
}

body {
	overflow-x: hidden !important;
}

h2 {
	font-family: "Work Sans", sans-serif;
	font-weight: 400;
}

a {
	text-decoration: none;
}

.def-col {
	color: #eeeef5;
}

.def-bg {
	background-color: #eeeef5;
}

.def-font {
	font-family: "Work Sans", sans-serif;
}

.def-col-font {
		color: #eeeef5;
		font-family: "Work Sans", sans-serif;
}

/* Material Icons Style */

.material-icons {
	overflow: hidden;
}

.mi-24 {
	font-size: 24px;
}

.mi-36 {
	font-size: 36px;
}

.mi-50 {
	font-size: 50px;
}

.mi-178 {
	font-size: 178px;
}

.row {
	display: flex;
	align-items: center;
}

.web-temp,
.frontend-projects,
.ui-components,
.pyb-projects, .fppg-banner {
	background-color: #eeeef5;
	padding: 68px 0 10px 0;
}

/*Navbar Style*/

.navbar {
	margin: 0 auto;
	background-color: #3e3e43;
	box-shadow: 0 0 15px #d1d1d1;
	z-index: 99;
}

.nav-link,
.navbar-brand {
	color: #eeeef5 !important;
	cursor: pointer;
}

.navbar-brand {
	font-family: "Work Sans", sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-left: 8px;
	float: left;
	display: flex;
}

.navbar-brand .brand-name {
	margin-top: 2px;
}

.navbar-nav {
	margin: 0 auto;
}

.nav-link {
	font-family: "Work Sans", sans-serif;
	font-size: 16px;
	padding: 10px 3px 10px 3px;
	margin-right: 15px;
}

.nl .nav-link:hover {
	border-bottom: solid 2px #eeeef5;
	padding-bottom: 5px;
	max-width: 91%;
}

/* Submenu Style */

.submenu ul {
	list-style-type: none;
	margin: 5px 0 0 0;
	padding: 0;
}

.submenu .dropdown-btn {
	display: flex;
}

.submenu .dropdown-content {
	background-color: #eeeef5;
	display: none;
	position: absolute;
	box-shadow: 2px 3px 16px 5px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	padding: 7px 0;
	z-index: 999;
}

.submenu .dropdown-content li a {
	color: #3e3e43;
	font-family: "Work Sans", sans-serif;
	font-size: 13px;
	padding: 8px 12px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.submenu .dropdown-content li a:hover {
	background-color: #3e3e43;
	color: #eeeef5;
}

.face-icon {
	cursor: pointer;
	border: 0;
	background-color: transparent;
}

/* Banner */
.banner {
	margin: 50px 0 0 0;
}

.banner {
	background-image: linear-gradient(to top left, #aaa8ba 0%, #c0ded6 100%);
	font-family: "Work Sans", sans-serif;
}

.banner-img img {
	height: auto;
	width: 100%;
}

/* See More Button */

.see-more {
	background-color: #5a5aff;
	color: #fafafa;
	border: solid 2px #5a5aff;
	border-radius: 25px;
	font-family: "Mulish", sans-serif;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 10px 42px;
}

.see-more:hover {
	background-color: transparent;
	color: #5a5aff;
	border: solid 2px #5a5aff;
}

/* Website Template Section */

.web-temp .heading .tag {
	background-color: #3e3e43;
	border-radius: 5px;
	font-size: 13px;
}

/* Python Basic Projects Section */

.pyb-projects {
		padding-bottom: 68px;
}

.pyb-projects .row-main {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.pyb-projects .row-main .lit-card {
	margin-bottom: 32px;
}

/* Contact Style */

.contact h3, .devay h3 {
	font-weight: 600;
}

/* Footer */

footer {
	background-color: #2e2e31;
	color: #eeeef5;
}

.social-icons i:hover {
	color: lightgreen;
}

.hidden {
	display: none;
}

/* Frontend Projects Page */

.fppg-banner {
	padding-top: 87px;
}

.fppg-banner .row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fppg-banner .row img {
	opacity: 0.2;
}

.fppg-banner .row h3 {
	margin: -54px 0 0 0;
}

/* Style - navbarToggler Appearance */
@media screen and (max-width: 991px) {
	.navbar-nav {
		margin-top: 10px;
	}

	.nav-item {
		margin-bottom: 5px;
	}

	.nav-link {
		padding-left: 10px;
	}

	.banner-img, .banner-txt h1, .banner-txt p {
		text-align: center;
	}
}

@media screen and (min-width: 977px) {
	.submenu .dropdown-content {
		position: absolute;
	}
}

@media screen and (max-width: 976px) {
	.submenu .dropdown-content {
		position: relative;
	}
}

@media screen and (max-width: 751px) {
	.social-icons .col-md-3 {
		padding-bottom: 8px;
	}
}

/* Mobile Phones */
@media screen and (max-width: 576px) {
	.banner {
		height: 50vh;
		padding-top: 16px;
	}

	.banner-img {
		padding: 12px;
	}

	.banner-img img {
		max-width: 208px;
		opacity: 0.3;
	}

	.banner-txt h1, .contact h3, .devay h3 {
		font-size: 20px;
	}

	.banner-txt p, .devay p {
		font-size: 14px;
	}

	.fppg-banner img {
		width: 400px;
		height: auto;
	}

	.social-icons {
		margin: -20px 0 0 0;
	}
}

/* Tablets */
@media screen and (min-width: 577px) and (max-width: 767px) {
	.banner {
		height: 62vh;
		padding-top: 30px;
	}

	.banner-img {
		padding: 19px;
	}

	.banner-img img {
		max-width: 300px;
	}

	.fppg-banner img {
		width: 400px;
		height: auto;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.banner {
		height: 68vh;
		padding-top: 35px;
	}

	.banner-img {
		padding: 16px;
	}

	.banner-img img {
		max-width: 380px;
	}

	.fppg-banner img {
		width: 400px;
		height: auto;
	}
}

/* Laptops, Desktops */
@media screen and (min-width: 992px) {
	.banner {
		height: 58vh;
		padding-top: 72px;
	}

	.banner-img img {
		max-width: 450px;
	}

	.fppg-banner img {
		max-width: 480px;
		height: auto;
	}
}
